<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Conditional Statement in Thymeleaf</title>
</head>

<body>
	<h1>Conditional Statement in thymeleaf</h1>
	<h1>User is <span th:style="${isActive}?'color:green':'color:red'"
			th:text="${isActive} ? 'Active':'Not Active'"></span></h1>
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:if="${gender}=='F'">Female</h1>
	<h1 th:switch = "${#lists.size(numbers)}">
		<span th:case="'0'">List Contains Zero Element</span>
		<span th:case="'1'">List Contains One Element</span>
		<span th:case="*">List Contains More Than One Element</span>
	</h1>
</body>
</html>