<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>Contact</title>
</head>

<body>
	<section>
		<h1>This is contact page</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus pariatur similique voluptatum dolore quam.
			Alias voluptatibus dolor doloribus suscipit in sint quam dicta consequuntur minima eveniet eaque
			perspiciatis quia expedita amet quidem unde beatae provident quos possimus nihil nam saepe assumenda autem
			pariatur rem et necessitatibus officia recusandae ut aliquid. Non ad corporis! Soluta consequatur magnam
			repellat voluptate natus est iste dolores temporibus ullam nihil tenetur nemo. Similique fuga ratione
			aliquam qui officia praesentium iusto tempora ipsum a ea voluptas minima maxime vero ex numquam delectus
			quisquam soluta consectetur labore dolorum? Earum non quae veritatis doloribus autem recusandae ipsa
			quisquam.</p>
	</section>
</body>

</html>