<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Example</title>
	<link rel="stylesheet" th:href="@{/CSS/mystyle.css}" />
</head>

<body>
	<div class="container">
		<img class="profile" th:src="@{/images/Tanu.jpg}" alt="" />
		<h1>Adding CSS, Images and JS in Thymeleaf</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quam exercitationem ut possimus eius
			obcaecati ipsum soluta quibusdam corrupti adipisci velit ad assumenda laborum doloremque quod nemo ducimus
			quisquam illum totam animi quis voluptate fugit vel nesciunt quidem culpa vero voluptas. Alias odit dolorum
			et sed odio veniam itaque. Nostrum repudiandae optio omnis! Quisquam dolores veritatis quidem ex nostrum
			nisi laborum culpa in aperiam labore ad doloribus facilis tempora quas inventore. Eligendi magnam explicabo
			voluptatem quis nemo architecto ipsa ex doloremque quam debitis optio praesentium similique quo sapiente
			asperiores natus rerum quisquam iste dicta rem. Voluptatem modi quis sint ipsum.</p>
	</div>
	<script th:src="@{/js/myjs.js}"></script>
</body>

</html>