<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>About</title>
</head>

<body>
	<section>
		<h1>This is about Section </h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis accusantium quaerat eius expedita dolores
			quidem obcaecati sed dolorum illum vel adipisci possimus laboriosam consectetur laborum minus fuga sequi ab
			amet saepe dolore atque magni at? Voluptatum exercitationem nostrum quo omnis corporis suscipit ratione et
			saepe non tempora expedita facilis dignissimos!</p>
	</section>
</body>

</html>